In [1]:
import pandas as pd

In [3]:
london = pd.read_csv('LONDON.csv')

In [4]:
london

,Ime hotela,Oddaljenost od centra,Cena
0,Park Plaza Westminster Bridge London,1.018110,238
1,K West Hotel & Spa,6.230678,183
2,The Ritz London,0.969306,518
3,Rosewood London,1.326971,616
4,The Park City Grand Plaza Kensington,4.465188,169
5,St Martins Lane,0.324401,301
6,Courthouse Hotel Shoreditch,3.991183,281
7,Caesar Hotel,3.851820,122
8,Fraser Suites Queens Gate,3.925468,186
9,Citadines Trafalgar Square London,0.216809,197
10,The Rubens At The Palace,1.468826,229
11,Apex Temple Court Hotel,1.501573,259
12,The Bailey's Hotel London,4.071886,232
13,The Cavendish London,0.725811,337
14,The Strand Palace Hotel,0.604872,231
15,The Royal Horseguards,0.291931,291
16,The Dorchester Hotel,1.730311,694
17,Corinthia Hotel London,0.251288,789
18,Millennium Gloucester Hotel London Kensington,4.133709,222
19,Four Seasons Hotel London at Park Lane,1.586758,682
20,Lancaster London,3.307085,194
21,ME London,0.808732,331
22,Sofitel London St James,0.341854,486
23,The Goring,1.677703,435
24,London House Hotel,4.340952,123
25,Tower Bridge Superior Apartments,3.498242,197
26,Grosvenor House A JW Marriott Hotel,1.946919,415
27,The Ampersand Hotel,3.622800,278
28,K+K Hotel George London,4.957036,199
29,The Savoy A Fairmont Managed Hotel,0.572009,624
30,Hotel Café Royal,0.638344,549
31,Mondrian London,1.446316,278
32,The Nadler Victoria,1.395743,212
33,Park International Hotel,4.312978,167
34,The Royal Park Hotel,3.456166,171
35,Apex City Of London Hotel,3.375542,246
36,The Rembrandt,3.215255,276
37,The Stafford London,0.902147,521
38,Westbury Mayfair Hotel,1.128013,298
39,Ace Hotel London Shoreditch,4.009222,215
40,Shangri La Hotel At The Shard London,2.829879,569
41,Millennium Hotel London Mayfair,1.655029,284
42,The Soho Hotel,0.836858,590
43,Studios 2 Let Serviced Apartments - Cartwright...,2.141800,142
44,The Connaught,1.526687,723
45,Ham Yard Hotel,0.622676,620
46,Rocco Forte Brown's Hotel,1.005815,621
47,41,1.506381,588
48,The Cumberland,2.265676,245
49,The Kensington Hotel,3.876375,266

In [5]:
london('cena').mean

TypeError: 'DataFrame' object is not callable

In [6]:
pd.london('cena').mean

AttributeError: module 'pandas' has no attribute 'london'